body {
  margin: 30px auto;
  max-width: 1400px;
  color: #3a3a3a;
  font-family: 'Palatino', Georgia, serif;
  font-size: 16pt;
  line-height: 160%;
  font-weight: 400;
  text-align: left;
  background: #fafafa;
}
h1,
h2,
h3 {
  font-family: 'Open Sans', 'Helvetica-Neue', Helvetica, sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  margin-top: 50px;
}
h1 {
  font-size: 1.6875em;
  margin-bottom: 50px;
}
h2 {
  font-size: 1.25em;
}
h3 {
  font-size: 1em;
}
b {
  font-weight: 700;
  color: rgb(52, 73, 94);
}
strong {
  font-weight: 700;
  color: rgb(26, 188, 156);
}
a{
  color: rgb(22, 160, 133);
  text-decoration: none;
}
a:hover{
  color: #3a3a3a;
  text-decoration: none;
}
a i{
  color: #3a3a3a;
}
a:hover i{
  color: rgb(22, 160, 133);
}

li {
  margin-bottom: 15px;
}

.centerdiv {
  padding-top: 20px;
  margin: 0 auto;
  width: 90%;
  height: 100%;
  min-height: 800px;
  box-shadow: 0 0 18px rgba(0, 0, 0, .5);
  background-color: rgb(237, 239, 241);
}
.header {
  width: 100%;
  height: 60px;
  margin-top: 0;
  padding-bottom: 26px;
  color: black;
  text-align: center;
}
.header div {
  float: left;
}
.edge {
  width: 20%;
}
.center {
  width: 60%;
}
.content {
  width: 60%;
  padding: 0 20%;
}

@media (max-width: 768px) {
  h1, h2, h3 {
    margin-top: 20px;
  }
  h1 {
    font-size: 1.2em;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  body {
    margin: 20px auto;
    font-size: 11pt;
    line-height: 160%;
  }
  .header {
    height: 20px;
  }
  .content {
    width: 80%;
    padding: 0 10%;
  }
}
