.article {
  max-width: 40em;
  width: 100%;
  color: #000000d6;
  background-color: white;
  padding: 1em;
  margin: 1em;
  font-size: 1.4em;
  border: 1px dashed #36382e;
}

.article p,
.article ul {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.article .publish-date {
  font-size: 0.75em;
  color: #808080;
}

.article img {
  flex: 1;
  width: 100%;
  object-fit: cover;
}
