nav {
  padding: 1em;
  background-color: white;
  border-bottom: 1px dashed #36382e;
}

.nav-wrapper {
  max-width: 70em;
  display: block;
  margin: 0 auto;
}

.terminal {
  color: #5bc3eb;
  font-size: 0.75em;
}

.nav-links {
  float: right;
}

.nav-links a {
  font-family: 'Open Sans', 'Helvetica-Neue', Helvetica, sans-serif;
  font-size: 1em;
  text-transform: uppercase;
  color: #4c4f40;
  margin-left: 1em;
}

.nav-links a.active {
  border-bottom: 2px solid #f06449;
}
