/*

Colors: https://coolors.co/f06449-ede6e3-dadad9-36382e-5bc3eb

tomato: #F06449
platinum: #EDE6E3
gainsboro: #DADAD9
jet: #36382E
blue jeans: #5BC3EB

Website inspired by http://tholman.com/

*/

html {
  box-sizing: border-box;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace, serif;
  text-rendering: geometricPrecision;
  color: #36382e;
  font-size: calc(0.75em + 0.25vw);
  line-height: 1.6;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #f9f9f9;
}

a {
  text-decoration: none;
  color: #5bc3eb;
}

ul {
  padding-left: 1em;
}

ul li {
  padding-top: 0.25em;
}

p {
  margin: 0.5em 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 1em 0 0 0;
  color: #f06449;
}

pre {
  display: block;
  overflow-x: auto;
  background: rgb(29, 31, 33);
  color: rgb(197, 200, 198);
  padding: 0.5em;
}

nav {
  padding: 1em;
  background-color: white;
  border-bottom: 1px dashed #36382e;
}

.nav-wrapper {
  max-width: 70em;
  display: block;
  margin: 0 auto;
}

.terminal {
  color: #5bc3eb;
  font-size: 0.75em;
}

.nav-links {
  float: right;
}

.nav-links a {
  font-family: 'Open Sans', 'Helvetica-Neue', Helvetica, sans-serif;
  font-size: 1em;
  text-transform: uppercase;
  color: #4c4f40;
  margin-left: 1em;
}

.nav-links a.active {
  border-bottom: 2px solid #f06449;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article {
  max-width: 40em;
  width: 100%;
  color: #000000d6;
  background-color: white;
  padding: 1em;
  margin: 1em;
  font-size: 1.4em;
  border: 1px dashed #36382e;
}

.article p,
.article ul {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.article .publish-date {
  font-size: 0.75em;
  color: #808080;
}

.article img {
  flex: 1;
  width: 100%;
  object-fit: cover;
}

.creations {
  max-width: 50em;
  padding: 1em;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}

.creations h1 {
  margin: 0.5em 0;
  font-size: 1em;
}

.creations a:hover {
  text-decoration: underline;
}

.creations .project {
  width: calc(50% - 2em);
  margin: 1em;
  padding: 1em;
  border: 1px dashed #36382e;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.creations .project.project--full {
  width: 100%;
}

.creations .project .links {
  margin-top: auto;
  padding: 1em 0;
}

.project img {
  flex: 1;
  width: 100%;
  object-fit: cover;
}

.project-profile {
  height: 100%;
  background-image: url('/static/img/koen-photo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media only screen and (max-width: 760px) {
  .creations .project {
    width: 100%;
  }
}

footer {
  padding: 1em;
  background-color: white;
  border-top: 1px dashed #36382e;
  font-family: 'Open Sans', 'Helvetica-Neue', Helvetica, sans-serif;
  font-size: 0.8em;
  color: #777777;
  width: 100%;
}

.footer-content {
  max-width: 70em;
  display: flex;
  justify-content: space-between;
  margin: 0px auto;
}

.social-links a {
  display: inline-block;
  padding: 0 1em;
  color: #777777;
}

.social-links i {
  margin-right: 0.5em;
}
