/*

Colors: https://coolors.co/f06449-ede6e3-dadad9-36382e-5bc3eb

tomato: #F06449
platinum: #EDE6E3
gainsboro: #DADAD9
jet: #36382E
blue jeans: #5BC3EB

Website inspired by http://tholman.com/

*/

html {
  box-sizing: border-box;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace, serif;
  text-rendering: geometricPrecision;
  color: #36382e;
  font-size: calc(0.75em + 0.25vw);
  line-height: 1.6;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #f9f9f9;
}

a {
  text-decoration: none;
  color: #5bc3eb;
}

ul {
  padding-left: 1em;
}

ul li {
  padding-top: 0.25em;
}

p {
  margin: 0.5em 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 1em 0 0 0;
  color: #f06449;
}

pre {
  display: block;
  overflow-x: auto;
  background: rgb(29, 31, 33);
  color: rgb(197, 200, 198);
  padding: 0.5em;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
