@import "tailwindcss";
@import "../../../styles/global.css";
@import "../../../styles/theme.css";
@import "../../../styles/prose.css";
@import "../../../styles/syntax-highlighting.css";
@import "../../../styles/footnote.css";
