/* Remove tile borders and seams */
.leaflet-tile {
  border: none;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
}

.leaflet-tile-container {
  pointer-events: none;
}

.ping {
  animation: ping 1.25s cubic-bezier(0, 0, 0.2, 1) infinite;
}

@keyframes ping {
  100% {
    opacity: 0.1;
  }
}
