@import './footnote.css';
@import './prose.css';
@import './syntax-highlighting.css';
@import './theme.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .full-bleed {
    --bleed-size: 10vw;
    margin-left: calc(-1 * var(--bleed-size));
    min-width: min(calc(100% + 2 * var(--bleed-size)), 100vw);
  }

  .full-bleed-5 {
    --bleed-size: 5vw;
  }
  .full-bleed-10 {
    --bleed-size: 10vw;
  }
  .full-bleed-20 {
    --bleed-size: 20vw;
  }
}

dialog:modal {
  max-width: 100vw;
  max-height: 100vh;
  margin: 0;
  padding: 0;
}

::selection {
  background-color: theme('colors.primary');
  color: #fefefe;
}

/* Remove outline for non-keyboard :focus */
*:focus:not(:focus-visible) {
  outline: none;
}

/* Add :focus-visible outline when navigating with keyboard */
*:focus-visible {
  @apply rounded-md;
  outline: 2px solid theme('colors.primary');
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-fraunces), serif;
}

.up-hover:hover {
  transform: scale(1.02);
}

.up-hover {
  transition: all 0.2s ease-in-out;
}

/* Remove Safari input shadow on mobile */
input[type='text'],
input[type='email'] {
  appearance: none;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}

/* styling scroll bar with gradient to primary color */
::-webkit-scrollbar {
  width: 4px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  @apply bg-primary dark:bg-gradient-to-b dark:from-primary dark:to-black;
  border-radius: 12px;
}
