@tailwind base;
@tailwind components;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,900&display=swap");

html {
  @apply text-gray-900 antialiased leading-6;
  text-rendering: geometricPrecision;
  font-family: "Merriweather", "Georgia", serif;
}

body {
  @apply bg-white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply my-4;
  @apply leading-tight;
}

h1 {
  @apply text-2xl font-black;
  font-family: "Montserrat", sans-serif;
}

h2 {
  @apply text-lg font-black;
}

h3 {
  @apply text-lg;
}

ul {
  @apply list-disc;
}

li {
  @apply my-2;
}

p {
  @apply mb-2;
}

a {
  @apply text-kvg-blue underline;
}

.blink {
  animation: blink-animation 1s step-start 1s infinite;
}

@keyframes blink-animation {
  50% {
    opacity: 0;
  }
}

@tailwind utilities;
